.btn-submit {
  width: 90%;
  margin: 1rem auto;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--color-neutral-light-grayish-violet);
  background-color: var(--color-neutral-very-dark-violet);
  border: none;
  padding: 1rem;
  font-weight: bold;
  font-family: "Space Grotesk";
  border-radius: 10px;
}
